<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>sprite实例</title>
	<link rel="stylesheet" href="<%= cssPath %>">
	<style>
		.container {
			display: flex;
		}

		.container .sprite-item {
			flex: 1;
			font-size: 20px;
			text-align: center;
			position: relative;
		}

		.sprite-img:hover {
			color: #ccc;
		}
	</style>
</head>
<body>
<div class="container">
	<% _.forEach(icons, function(icon){ %>
	<div class="sprite-item">
		<div class="sprite-img <%= cssClass %>-<%= icon %>">
			
		</div>
		<p class="sprite-name">
			<span class="classname"><%= cssClass %>-<%= icon %></span>
				
		</p>
	</div>
	<% }); %>
</div>
</body>
</html>